<%- include('partials/header'); %>

<div class="m-4 p-4">
  <div class="h-12">
    <a class="inline-block back_btn1" href="<%= link.parent %>">戻る</a>
  </div>
  <div class="px-3 py-2">
    <% for (var user of users) {  %>
      <div class="w-auto inline-block p-2 flex justify-center">
        <ul class="flex justify-between [&>li]:w-auto [&>li]:p-2 [&>li]:m-2 [&>li]:border-b">
          <li class="">name: <a class="underline text-blue-400" href="<%= link.user %>/<%= user.id %>"><%= user.name %></a></li>
          <li class="">waveLength: <%= user.waveLength %></li>
          <li class="">initialPhase: <%= user.initialPhase %></li>
          <li class="">startDays: <%= user.startDays %></li>
          <li class="">initialMotivation: <%= user.initialMotivation %></li>
          <li class="">振り返り間隔(日): <%= user.intervalDaysForSelfReflection %></li>
          <% var d = user.lastSelfReflectedAt ? new Date(user.lastSelfReflectedAt) : null %>
          <% var dp = d ? d.toLocaleString('ja-JP') : "null" %>
          <li class="">前回の振り返り日: <%= dp %></li>
          <li class="">ワーク変更閾値: <%= user.thresholdOfWorkChanging %></li>
          <li class="">工夫変更閾値: <%= user.thresholdOfSchemeChanging %></li>
        </ul>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer'); %>
