<%- include('partials/header'); %>

<div class="m-4 p-4">
  <a class="back_btn1" href="<%= link.parent %>">戻る</a>
  <!-- 日毎のタスク設定グラフ -->
  <div class="m-4 p-4 w-3/5 border-4 border-gray-300 rounded">
    <canvas id="myChart"></canvas>
  </div>
  <!-- 周期関数のグラフを表示 -->
</div>

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  data = [];
  <% for(var i = 0; i < data.graph_data.length; i++){ %>
    data[<%= i %>] = {x: "<%= data.graph_data[i].x %>", y: "<%= data.graph_data[i].y %>"}
  <% } %>
  new Chart(ctx, {
    type: 'bar',
    data: {
      datasets: [{
        label: '達成したタスク',
        data: data
      }],
    },
    options: {
      tooltips:{
        mode: 'nearest'
      },
      plugins: {
        title: {
          display: true,
          text: '日毎のタスク達成数',
        },
      },
      scales: {
        y: {
          // 小数点を隠す
          ticks:{
            precision: 0,
          },
          beginAtZero: true,
          suggestedMax: 5,
        }
      }
    }
  });
</script>

<%- include('partials/footer'); %>